/*
 * @Author: chenweizhi 
 * @Date: 2018-05-30 11:47:54 
 * @Last Modified by: chenweizhi
 * @Last Modified time: 2018-06-10 16:18:38
 */

// common
$video_bg: url('https://os4ty6tab.qnssl.com/cblued/static/video.1cet46ipr2ev270.jpg');
$video_play_bg: url('https://os4ty6tab.qnssl.com/cblued/static/stop.1cer2517l22il16.png');
$video_pause_bg: url('https://os4ty6tab.qnssl.com/cblued/static/start.1cer2517rf8hrl.png');
$ancho_bg: url('https://os4ty6tab.qnssl.com/cblued/static/04_vote.1ceqkkof8ktdc7.jpg');
$btn_bg: url('https://os4ty6tab.qnssl.com/cblued/static/07_Btn.1ceqkko082nfn00.png');
$prize_bg: url('https://os4ty6tab.qnssl.com/cblued/static/05_rule.1ceqkknqb2qkdbi.jpg');


.libratone{
    // position: relative;
    background: #ebebeb;
    color: #666;
    font-family: PingFangSC-Regular SimHei Microsoft YaHei;
}
.contentshow{
    display: block;
}
.contenthide{
    display: none;
}
.bird-banner{
    width: 100%;
    display: block;
}
.bird-stroy{
    position: relative;
    padding:.32rem .38rem .59rem .38rem;
    font-size: .28rem;
    text-align: left;
    .bird-stroy-p{
        line-height: .42rem;
    }
    .bird-stroy-icon-left{
        position: absolute;
        top: 0;
        left: .32rem;
        display: block;
        width: .25rem;
        height: .25rem;
        z-index: 2;
    }
    .bird-stroy-icon-right{
        position: absolute;
        bottom: .27rem;
        right: .32rem;
        display: block;
        width: .25rem;
        height: .25rem;
        z-index: 2;
    }
}
.bird-video-wrap{
    height: 7.54rem;
    width: 100%;
    background: $video_bg no-repeat;
    background-size: cover;
    box-sizing: border-box;
    .bird-video-box{
        position: relative;
        width: 6.5rem;
        height: 3.6rem;
        padding-top: .35rem;
        margin: 0 auto;
        box-sizing: content-box;
        .bird-video-icon{
            display: none;
            width: .4rem;
            height: .4rem;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -.2rem;
            z-index: 9;
            &.bird-video-play{
                background: $video_play_bg no-repeat;
                background-size: cover;
                display: block;
            }
            &.bird-video-pause{
                background: $video_pause_bg no-repeat;
                background-size: cover;
                display: block;
            }
        }
    }
    .bird-video{
        overflow: hidden;
        object-fit: cover;
        display: block;
        width: 6.5rem;
        height: 3.6rem;
    }
    .bird-video-tit{
        font-size: .26rem;
        line-height: .26rem;
        text-align: center;
        margin: .3rem;
    }
    .bird-video-des{
        padding: 0 .5rem;
        font-size: .28rem;
        line-height: .42rem;
    }
}
.bird-vote-wrap{
    .bird-vote-tit{
        padding: .18rem .5rem .1rem .5rem;
        font-size: .28rem;
        line-height: .42rem;
        text-align: left;
    }
    .anchor-list{
        overflow: hidden;
        .anchor-group{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-bottom: .12rem;
            padding-top: .5rem;
            background: $ancho_bg no-repeat;
            background-size: 100%;
        }
        .anchor-item{
            flex: 1;
            width: 2.6rem;
            padding-left: .2rem;
            .anchor-item-avator{
                display: block;
                margin: 0 auto;
                width: 3.35rem;
                height: 3.8rem;
                box-sizing: border-box;
            }
            .anchor-item-name{
                font-family:SimHei;
                margin-top: .07rem;
                height: .42rem;
                line-height: .42rem;
                font-size:.28rem;
                font-weight: bold;
                padding: 0 .05rem;
                color: #242424;
                span{
                    font-size:.28rem;
                    color:#70afe0;
                    padding-left: .3rem
                }
            }
            .anchor-item-des{
                font-size: .26rem;
                text-align: center;
                line-height: .4rem;
                height: .8rem;
                padding: 0 .3rem;
            }
            .anchor-item-btn{
                background: $btn_bg no-repeat ;
                background-size: cover;
                border-radius: .6rem;
                width: 1.7rem;
                height: .6rem;
                margin: .11rem auto 0 auto;
                font-size: .30rem;
                line-height: .6rem;
                color: #fff;
                text-align: center;
                &.disabled{
                    background: #c0bfbe;
                }
            }
        }
        .anchor-item-r{
            padding-right: .2rem;
            padding-left: 0;
            
        }
    }
    .bird-vote-prize{
        height: 3.9rem;
        background: $prize_bg  no-repeat;
        background-size: cover;
        box-sizing: border-box;
        padding: 1.9rem .3rem 0 .5rem;
        text-align: center;
        color: #fff;
        .bird-vote-prize-tit{
            height: .3rem;
            line-height: .3rem;
            font-size: .3rem;
            font-family: SimHei;
            font-weight: bolder;
        }
        .bird-vote-prize-p{
            margin-top: .22rem;
            line-height: .5rem;
            font-size: .28rem;
        }
    }
}
.bird-prize-wrap{
    .bird-prize-item, .bird-prize-img{
        display: block;
    }
}
.bird-btm{
    padding: .3rem;
    font-size:.26rem;
    color:#666;
    text-align: center;
    line-height: .26rem
}
.full-video{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    background: #fff;
    display: block;
    overflow: hidden;
    .fullvideo{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center; 
    }
    .fullvideohide{
        display: none;
    }
    .full-play{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        z-index: 99;
        color: #fff;
        font-size: .32rem;
        display: block;
        margin-left: -1rem;
        width: 2rem;
        height: .8rem;
        animation: hand-ami .5s ease-in infinite;
        background: rgb(76, 245, 99);
        text-align: center;
        line-height: .8rem;
        border-radius: .8rem;

        
    }
    .full-jump{
        position: absolute;
        top: .8rem;
        right: .25rem;
        z-index: 99;
        color: red;
        display: block;
        width: 1rem;
        height: .56rem;
    }
    .full-jump-ios{
        position: absolute;
        top: .4rem;
        right: .25rem;
        z-index: 99;
        color: red;
        display: block;
        width: 1rem;
        height: .56rem;
    }
    
}
// 弹窗
.libratone-box{
    width: 5.4rem;
    text-align: center;
    background: #fff;
    border-radius: .28rem;
    color: #000;
    .libratone-box-text{
        padding: .6rem;
        font-size: .32rem;
        color: #5b5b5b;
        line-height: .45rem;
    }
    .libratone-box-btn{
        padding: .29rem .6rem;
        border-top: .01rem solid #e2e2e2;
        color: #3599ff;
        font-size: .3rem;
        line-height: .3rem;
    }
}
.Horizontal-box{
    z-index: 999;
    max-width: initial;
}
@keyframes hand-ami {
    0% {
      opacity: 1;
      font-size: .32rem;
    }
    50% {
      opacity: 1;
      font-size: .38rem;
    }
    100% {
      opacity: 1;
      font-size: .32rem;
    }
  }
