.name-input {
  position: absolute;
  width: 73%;
  top: 31%;
  left: 16%;
  >input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 15%;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    font-family: 'PingFangSC-Regular', sans-serif;
    font-size: 15px;
    color: #535353;
  }
}
.result-button {
  position: absolute;
  top: 46%;
  width: 49%;
  left: 24%;
}
.modal {
  position: absolute;
}
.loading {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 34%;
  position: relative;
  bottom: 12%;
  color: #fff;
  >img {
    flex: 0 0 auto;
  }
  >span:first-of-type {
    flex: 0 0 auto;
    font-size: 24px;
    font-family: 'PingFangSC-Medium',sans-serif;
    margin-top: 12px;
  }
  >span:last-of-type {
    flex: 0 0 auto;
    font-size: 14px;
    margin-top: 7px;
    font-family: 'PingFangSC-Regular',sans-serif;
  }
}
@media (max-width: 320px) {

}
