.page-card {
  background-color: #704cf8;
}
.to-viperlist {
  >a{
    display: block;
    width: 80%;
    height: 41px;
    line-height: 41px;
    color: #f65e4a;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    margin-top: 35px;
    margin: 35px auto 0;
  }
}
.banner {
  position: relative;
  font-size: 0;
}
.page-content {
  margin: 35px 20px 0;
  padding-bottom: 35px;
  color: #fff;

  >p {
    font-size: 13px;
    line-height: 20px;
    font-family: 'PingFangSC-Thin',sans-serif;
  }
  >p:first-of-type {
    font-size: 15px;
    font-family: 'PingFangSC-Medium',sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
}
.toast {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 120px;
  border-radius: 12px;

  >p{
    font-size: 16px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
  }

  >span {
    font-size: 14px;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(92, 173, 252);
  }
}
