lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tags*
.vscode*

pids
logs
results

npm-debug.log
npm-debug.log.*
node_modules
public
.imdone
/libs/qn.js
/apps/hd/src
/gulp-tmpl/gulpfile.js
*.DS_Store
