.answers {
  position: absolute;
  width: 59%;
  height: auto;
  top: 49%;
  left: 25%;
  >img {
    width: 100%;
    height: auto;
  }
  .ans2 {
    >img {
      margin-top: 6%
    }
  }
}
@media (max-width: 400px) {}
