/**
 * 该文件作为Blued UI规范的一些特定颜色集合存在
 * 对一些特定的色值进行抽象标注
 */

/* 文字颜色 */

$a: #2593f4;
$b: #fd537b;
$c: #36383b;
$d: #898d90;
$e: #adafb0;
$f: #fff;
$g: #f66161;

/* 区域及分割颜色 */

$h: #d0d6dd;
$i: #e4e6eb;
$j: #eef0f1;
$k: #e8e8e8;
$l: #f3f3f3;
$m: #e2f3fc;
$n: #778190;

/* 直播相关专用色 */

$o: #00b9ff;
$p: #ff9d00;
$q: #ff5d63;
