// Created by 刘谦 <qianliu> 112486391@qq.com
// on 2017-02-23 20:01

@mixin set-sprite($i, $ratio: 2) {
  @include sprite($i);
  width: nth($i, 5) / $ratio;
  height: nth($i, 6) / $ratio;
  background-position-y: nth($i, 4) / $ratio;
  background-size: nth($i, 7) / $ratio;
}
