// @Author: fanzhenzhen
// @Date:   2018-03-02T02:09:46+08:00
// @Last modified by:   fanzhenzhen
// @Last modified time: 2018-03-02T17:13:48+08:00



@import './sprite'; // css 布局
$shrink-scale: 2; //    默认缩小两倍背景图
// 宽度 高度 位置 缩小一半
@mixin set-sprite($i, $ratio: $shrink-scale) {
   @include sprite($i);
  width: nth($i, 5) / $ratio;
  height: nth($i, 6) / $ratio;
  background-position-y: nth($i, 4) / $ratio;
  background-size: nth($i, 7) / $ratio;
}
@include block(i) {
  display: inline-block;
  @include element(btn_top) {
    @include set-sprite($btn_top)
  };
  @include element(btn_transmit) {
    @include set-sprite($btn_transmit)
  };
}
