.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.start-button {
  position: absolute;
  bottom: 11.4%;
  width: 40%;
  right: 16%;
  animation-iteration-count: infinite;
  >img {
    width: 100%;
    height: auto;
  }
}
.line {
  position: absolute;
  width: 80%;
  bottom: 16%;
  right: 1%;
  >img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 320px) {

}
