.result {
  >div {
    position: absolute;
  }
  .name {
    position: absolute;
    top: 14%;
    left: 14%;
    width: 33%;
    height: 4%;
    text-align: center;
    color: rgb(93, 69, 53);
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 23px;
    overflow: hidden;
    white-space: nowrap;
  }
  .replay {
    position: absolute;
    width: 21%;
    top: 54%;
    right: 2%;
    z-index: 1;
  }
  .goapp {
    position: absolute;
    width: 21%;
    top: 27%;
    right: 0%;
    z-index: 1;
  }
  .share {
    position: absolute;
    width: 21%;
    top: 39%;
    right: 0%;
    z-index: 1;
  }
  .qr {
    width: 42%;
    bottom: 3%;
    right: 6%;
  }
  .tip {
    position: absolute;
    width: 32%;
    right: 39%;
    bottom: 8%;
  }
}
.clip-area {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  >img {
    width: 100%;
    height: 100%;
  }
}
.oprate-area {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.save-area {
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
  // border: 3px solid red;
  >img {
    width: 100%;
    height: 100%;
  }
  >div {

  }
}
.hide {
  display: none !important;
}
@media (min-width: 400px) {
}
