<!DOCTYPE html>
<html lang="zh-hans">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="format-detection" content="telephone=no">
  <meta property='og:title' content="程功&&张玲玲">
  <meta property="og:image:secure_url" content="img">
  <link rel="stylesheet" href="https://os4ty6tab.qnssl.com/web/static/Tools/animate.min-7da1b415.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title>我们结婚啦~</title>
<link href="marry/css/vendor-16db0158.css" rel="stylesheet"><link href="marry/css/index-2ad49cab.css" rel="stylesheet"></head>

<body>
  <div id="app"></div>
<script type="text/javascript" src="marry/js/index-dbb142ba.js"></script><script type="text/javascript" src="marry/js/vendor-70e1e176.js"></script></body>

</html>
